<div class="row">
    <div class="col-12">
        <button class="btn btn-success pull-right" routerLink="tasks/add">Add New Task</button>

        <div *ngIf="tasks && tasks.length > 0; else noTask">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task</th>
                        <th scope="col">Note</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks">
                        <td scope="row"><strong>{{ task.id }}.</strong></td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.note }}</td>
                        <td>
                            <button class="btn btn-light" routerLink="tasks/{{ task.id }}"><i class="fa fa-eye"></i></button>
                            <button class="btn btn-light" (click)="delete(task.id)"><i class="fa fa-trash-alt"></i></button>
                            <button class="btn btn-light" routerLink="tasks/{{ task.id }}/edit"><i class="fa fa-edit"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ng-template #noTask>
            <h2 class="text-center">No Task Found! </h2>
        </ng-template>
    </div>
</div>